* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 16px/1.5 Georgia, serif;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    background: #369;
    color: white;
    border-radius: 0.3em;
    min-height: 100vh;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1578855394976-bf57b393eeea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    position: relative;
    padding: 3em;
}

header .site-welcome {
    display: block;
}

header .site-welcome p {
    text-align: center;
}

header:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 90, 0, 0.7);
}

header nav,
header h1 {
    padding: 2rem 3rem;
    position: relative;
}

header section {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    z-index: 10;
}

header section h1 {
    transform: translate(-50vw);
    opacity: 0;
}

header section p {
    transform: translate(50vw);
    opacity: 0;
}

.loaded section h1,
.loaded section p {
    transition: transform 1s ease-in-out 0.6s, opacity 0.6s ease-in-out 0.9s;
    transform: translate(0);
    opacity: 1;
}

header a {
    color: white;
    text-decoration: none;
}

nav ul {
    display: flex;
}

nav ul li {
    display: block;
    list-style: none outside;
    padding: 0 0.5em;
    transform: translate(0, -5em);
    opacity: 0;
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

nav ul li:nth-child(1) {
    transition-delay: 0.5s;
}

nav ul li:nth-child(2) {
    transition-delay: 0.4s;
}

nav ul li:nth-child(3) {
    transition-delay: 0.3s;
}

nav ul li:nth-child(4) {
    transition-delay: 0.2s;
}

nav ul li:nth-child(5) {
    transition-delay: 0.1s;
}

.loaded nav ul li {
    opacity: 1;
    transform: translate(0, 0);
}

nav ul li a {
    display: block;
    padding: 0.5em 1em;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0.2em;
    transition: background 0.2s ease-in;
}

nav ul li a:hover {
    background: rgba(0, 0, 20, 0.5);
}

.site-welcome {
    position: relative;
    top: 10vh
}